# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_MAREBOARD_LEFT
    def_bool $(shields_list_contains,mareboard_left)

config SHIELD_MAREBOARD_RIGHT
    def_bool $(shields_list_contains,mareboard_right)